*{margin:0; padding:0;}
.contactField{padding:20px}
.container
{
	max-width:960px;
	//border:#000 solid 1px;
	margin:auto;
}

.banner
{

}

.menu{background:#0577FC;;overflow:hidden}

.menu ul
{
	list-style:none;
}

.menu ul li
{
	float:left;
	//border-left:#02AFFE solid 1px;
	//border-right:#0359D2 solid 1px;
}
.menu ul li:first-child{border-left:none}
.menu ul li:last-child{border-right:none}

.menu ul li a
{
	text-decoration:none;
	padding:10px 20px;
	color:#FCFF6A;
	font-size:14pt;
	display:block;
}
.link:hover{
	text-decoration: none ;
}
.menu ul li a:hover
{
	background:#0355D2;
}
.footer{color:#0355D2;text-align:center;font-style:italic}

.btnFloat {
	padding: 10px 30px;
	background: #2098d1;
	color: white !important;
	text-decoration: none !important;
	font-size: 30px;
	transition: all 0.3s; 
	text-align: center;
	margin-top: 10%;
}

#white{
	color: white;
}

.btnFloat:hover #white{
	color: #2098d1;
}
.btnFloat:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #2098d1;
    background: white; }
.para{
	font-size: 20px;
	text-align: justify;
}
.registration{
	border: 1px solid #ff6666;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
#comingsoon{
	padding-left: 8px;
}


.notice{
  text-align: justify;
}

.smallpic{
	width: 30px;
	height: 30px;
}